@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* Swiper styles */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Custom Arrow Styles */
.custom-prev,
.custom-next {
  color: black;
  border-radius: 30px;
  padding: 0px;
  background-color: white;
  cursor: pointer;
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: black 0px 0px 15px -8px;
}

.custom-prev:hover,
.custom-next:hover {
  scale: 1.1;
}

/* Optional: Adjust position for smaller screens */
@media (max-width: 768px) {
  .custom-prev,
  .custom-next {
    font-size: 1.5rem;
    padding: 8px;
  }
}

body {
  background-color: #eff2f5;
}
